<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TailwindCSS -->
    <link rel="stylesheet" href="../output.css">
    <link rel="stylesheet" href="../style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .menu {
            display: none;
        }

        @media (min-width: 768px) {
            .menu {
                display: flex;
            }
        }

        .hamburger-icon {
            display: block;
        }

        @media (min-width: 768px) {
            .hamburger-icon {
                display: none;
            }
        }
    </style>

    <title>Curhat Satu Arah</title>
</head>
<body class="inknut-antiqua-regular">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg p-4 bg-[#2D3250]">
        <div class="d-flex items-center gap-4">
        </div>
        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex items-center gap-4">
                <img src="../../public/image/logo.png" class="h-20" />
                <a class="navbar-brand text-white fs-4" href="../index.html">Mind Share</a>
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 items-center">
                <li class="nav-item active">
                <a class="nav-link text-white fs-6" href="../index.html">BERANDA <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="./curhat.html">CURHAT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="./kritiksaran.html">KRITIK&SARAN</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="./konseling.html">KONSELING</a>
                </li>
                <li class="nav-item">
                <a class="nav-link fs-6 bg-warning rounded text-dark" href="./editprofile.html">Hai,&nbsp;Username</a>
                </li>
          </ul>
        </div>
    </nav>
    <!-- Konten -->
    <main class="my-8 mx-8">
        <div class="bg-[#F6B17A] text-[#2D3250] p-4">
            <h1 class="text-center font-bold fs-6">Tempat Teraman Untuk Menceritakan Segala Keluh Kesahmu Bersama Kami, karna nama mu akan disamarkan. Mind Share</h1>
        </div>
        <div class="p-4">
            <h1 class="text-center font-bold mb-4 fs-4">Yuk Curhat Disini!</h1>
            <div class="bg-[#2D3250] h-4 rounded-tr-xl rounded-tl-xl"></div>
            <div class="bg-[#7077A1]/90 text-white text-sm p-8 font-thin rounded-br-xl rounded-bl-xl">
                <div class="border-b pb-4">
                    <h1 class="text-2xl font-bold fs-4">EARS ON YOU</h1>
                </div>
                <br />
                <div class="border-b pb-4">
                    <div class="flex flex-col md:flex-row md:justify-between">
                        <h1 class="fs-6">mindshare6@gmail.com <span class="text-[#F6B17A] mx-4 fs-6">Ganti akun</span></h1>
                        <h1 class="fs-6">ICON</h1>
                    </div>
                    <h1 class="fs-6">ICON <span class="mx-4 fs-6">Tidak dibagikan</span></h1>
                </div>
                <br />
                <h1 class="text-[#F6B17A] fs-6">*Menunjukkan pertanyaan wajib diisi</h1>
            </div>
        </div>
        <div class="p-4">
            <div class="bg-[#2D3250] rounded-tr-xl rounded-tl-xl">
                <h1 class="text-white font-bold p-8 fs-4">Data Diri Demografis</h1>
            </div>
            <div class="bg-[#7077A1]/90 text-white text-sm p-8 font-thin rounded-br-xl rounded-bl-xl">
                <h1 class="text-2xl font-bold fs-6">Silahkan mengisi data diri dan demografis dibawah ini dulu, ya!</h1>
            </div>
        </div>
        <div class="p-4">
            <div class="bg-[#2D3250] h-4 rounded-tr-xl rounded-tl-xl"></div>
            <div class="bg-[#7077A1]/90 text-white text-sm p-8 font-thin rounded-br-xl rounded-bl-xl h-96 flex justify-center items-center">
                <h1 class="font-bold fs-4">TEXT CONTEXT</h1>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>