*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inknut Antiqua", serif;
  }

body {
    margin: 0;
    padding: 0;
    background: var(--white);
}

/* navbar */
:root{
    --main-color:#2D3250;
    --white: #ffff;
    --bg: #2D3250;
    --border:.1rem solid #F6B17A;
  }
  
  section{
    padding: 2rem 7%;
  }
  
  .navbar{
    background-color: var(--main-color);
    height: 80px;
  }
  
  .navbar-brand{
    font-weight: 500;
    color: #ffffff;
    font-size: 30px;
    transition: 0.3s color;
    font-family: "Inknut Antiqua", serif;
    font-style: normal;
  }
  
  .login-button {
    background-color: #3e8bff;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    font-family: "Inknut Antiqua", serif;
    font-style: normal;
  }
  
  .login-button:hover {
    background-color: #749edf;
  }

  .login-buttonn {
    background-color: #ffffff;
    color: #F6B17A;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    font-family: "Inknut Antiqua", serif;
    font-style: normal;
  }
  
  .navbar-toggler {
    border: none;
    font-size: 1.25rem;
  }
  
  .navbar-toggler:focus,
  .btn-close:focus {
    box-shadow: none;
    outline: none;
  }
  
  .nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    font-family: "Inknut Antiqua", serif;
    font-style: normal;
  }
  
  .navbar-nav .nav-link {
    font-size: 14px;
  }
  
  .nav-link:hover,
  .nav-link.active {
    color: #000;
  }
  
  .offcanvas-header{
    font-family: "Inknut Antiqua", serif;
    font-style: normal;
    background-color: #2D3250;
    color: #ffffff;
  } 

  /* hola */
  .container {
    height: 30px;
    background-color: #f6b17a;
    color: #424769;
    margin-top: 90px;
    margin-bottom: 30px;
    padding: 4px 18px;
  }
  
  .container1 {
    font-size: 20px;
    text-align: center;
    font-family: "Inknut Antiqua", serif;
    font-style: normal;
    font-weight: 800;
  }

  main {
    padding: 20px;

    /* display: flex; */
    gap: 1.5rem;
 }

/* content card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* border-radius: 5px; */
    padding: 20px 20px 0px 20px;
}

article.card {
    background-color: #2D3250;
    border-radius: 15px;
}

.card p, .card h4, .card h6 {
    color: #ffffff;
    /* font-family: "Inknut Antiqua", serif; */
}

.card p {
    margin-bottom: 15px;
}

.card h4 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.card h6 {
    margin-bottom: 15px;
    color: #F44343;
}

.transisi{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 13%, rgba(233,233,236,1) 22%, rgba(211,211,218,1) 29%, rgba(198,198,207,1) 33%, rgba(172,172,185,1) 39%, rgba(119,120,142,1) 51%, rgba(79,81,109,1) 63%, rgba(45,47,80,1) 76%, rgba(45,47,80,1) 80%, rgba(45,47,80,1) 86%, rgba(45,47,80,1) 93%);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.content {
    flex: 4;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
 }

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.card a {
    text-decoration: none;
}

/* page */
.page {
  text-align: center;
}

.page-item {
  color: red;
  font-size: 15px;
  display: inline-block; 
  vertical-align: middle; 
}

.page-next {
  text-align: justify;
  color: red;
  font-size: 15px;
  display: inline-block; 
  vertical-align: middle; 
  float: right;
}

/* sebelum footer sama footer */
.section1 {
  background-color: #ffffff;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -30px;
  margin-bottom: -33px;
}

.info-box {
  display: flex;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-container img{
  margin-bottom: 10px; 
  width: 30%;
  margin-left: -190px;
}

.data-container p{
  margin-left: -190px;
}

.data-container2 h3{
  margin-left: -150px;
  line-height: 1.5;
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 800;
}

.data-container3{
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.data-container3 .btnK{
  display: inline-block;
  padding: 10px 20px;
  background-color: #F6B17A;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 42px;
  line-height: 1.2;
}

.data-container4{
  margin-left: 150px;
}

.data-container4 h3{
  line-height: 1.5;
  font-size: 24px;
  line-height: 2;
  font-weight: 800;
}

.data-container4 li {
  list-style: none;
  margin-bottom: 5px;
  line-height: 2.5;
}

.data-container4 li a {
  text-decoration: none; /* Menghapus garis bawah */
}

.footerContainer {
  background-color: #2D3250;
  color: #ffffff;
  font-style: italic;
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
  flex-direction: row;
  align-items: center;
  position: relative; 
  text-align: center;
  justify-content: space-between;
}

.fotterBottomkiri {
    background-color: #F44343;
    
  }

.fotterBottomkanan {
    margin: 0rem;
}

.fotterBottomkanan a {
    margin: 0 0.5rem;
    color: #ffffff;
    text-decoration: none;
}

.fotterBottomtengah {
  text-align: center;
  /* background-color: #F44343; */
}

/* HALAMAN TENTANG KAMI */
/* container pertama */
.containerpertama {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 30px 0;
}

.helpmain {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);;
}

.duakotak {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 40px 0;
    width: auto;
}

.kotakkiri img {
    width: 100%;
    margin-right: 10px;
}

.kotakkanan {
    margin-left: 10px;
    text-align: justify;
    background-color: #B3B3B3;
    width: 500px;
    padding: 15px;
    border-radius: 40px;
    font-size: 12px;
}

.katakata {
    text-align: center;
    justify-content: center;
    display: flex;
}

p.katap {
    width: 500px;
    text-align: center;
    font-size: 16px;
}

/* container kedua */
.containerkedua {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 30px 0;
}

.helpmainn {
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.visimisi {
    padding: 0 50px;
    justify-content: center;
    align-items: center;
}

.anak {
    display: flex;
    justify-content: center;
}
.anak img {
    padding: 40px;
    width: 50%;
}

.visimisi p, .visimisi ol li {
    font-size: 12px;
}

.visimisi h5 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/* HALAMAN MASALAH TIADA PUTUS */
/* body */
.masalahtiadaputus {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    gap: 2rem;
}

.masalahtiadaputus a {
    color: #ffffff;
    text-decoration: none;
}

.contentmasalahtiadaputus {
    flex: 4;
    background-color: #2D3250;
    color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

aside {
    flex: 2;
 }

 .cardmasalahtiadaputus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
 }

 .cardmasalahtiadaputus p {
    margin-bottom: 15px;
}

.cardmasalahtiadaputus h4 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.cardmasalahtiadaputus h6 {
    margin-bottom: 15px;
    color: #F44343;
}

header {
    display: inline;
 }

 header h2 {
    margin-bottom: 30px;
 }

 header p {
    color: #F44343;
 }

 .backk {
    margin: 20px 0 0 50px;
    padding: 0;
    display: flex;
 }

 .backkk {
    margin-left: 10px;
    margin-bottom: 50px;
 }

 .backkk a {
    text-decoration: none;
    color: #F44343;
 }

 /* HALAMAN REGIS */
 form ::placeholder {
    font-size: 12px;
 }

 input.full{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 0;
    padding: 0 10px;
 }

 .regis {
    margin-top: 80px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: auto;
 }

 .regiskiri img {
    width: 90%;
    padding: 0px;
 }

 .regiskanan {
    margin-left: 100px;
    display: flex;
    width: 400px;
    height: 500px;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    border-radius: 15px;
 }

 .regiskanann {
    background-color: #424769;
    text-align: left;
    width: 100%;
    border-radius: 15px;
    padding: 30px 40px 0;
    color: #ffffff;
 }

 .regiskanann h3 {
    float: right;
 }

 .regiskanann form {
    padding-top: 50px;
 }

 .baten {
    float: right;
    text-align: center;
 }

 .baten p {
    margin-top: 3px;
    font-size: 8px;
 }

  /* media navbar */
  @media (min-width: 991px){
    .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #f6b17a;
      visibility: hidden;
      transition: 0.3s ease-in-out;
    }
  
    .nav-link:hover::before,
    .nav-link.active::before {
      width: 100%;
      visibility: visible;
    }
  }
  