@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.jumbotron {
  padding: 2rem 1rem;
  background-color: #f6b17a;
}

#css navbar :root {
  --main-color: #2d3250;
  --white: #ffff;
  --bg: #2d3250;
  --border: 0.1rem solid #f6b17a;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inknut Antiqua", serif;
}

body {
  background: var(--white);
}

section {
  padding: 2rem 7%;
}

.navbar {
  background-color: var(--main-color);
  height: 80px;
}

.navbar-brand {
  font-weight: 500;
  color: #ffffff;
  font-size: 30px;
  transition: 0.3s color;
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
}

.login-button {
  background-color: #3e8bff;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
}

.login-button:hover {
  background-color: #749edf;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
}

.navbar-nav .nav-link {
  font-size: 14px;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

.offcanvas-header {
  font-family: "Inknut Antiqua", serif;
  font-style: normal;
  background-color: #2d3250;
  color: #ffffff;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #f6b17a;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
